
*{
  margin: 0px;
    padding: 0px;
}

body{
    background-image:url(../img/background.png);
    background-position: 49.9% 1px;
    background-color:#012f5a;
    background-attachment: fixed;
    font-family: Garamond;
    
}
#wrapper{
    margin: 0 auto;
    width:960px;
    background-color:#141516;
}

#header{
    height: 620px;
    
}
#topcontent{
    height: 110px;
}
#midcontent{
    height: 360px;
}
.search {
    width:200px;
    float:right;
    background-image: url(//s.w.org/wp-includes/images/admin-bar-sprite.png?d=20120831);
    background-position: 100% 2px;
    background-repeat: no-repeat;
}
.container-1{
 float:right;
  
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.container-1 input#search{
  width: 126px;
  height: 18px;
  background: white;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 10px;
  margin: 20px;
}
.container-1 .icon{
  position: absolute;
  margin-left: 24px;
  margin-top: 22px;
    font-size: 13px;
  z-index: 1;
  color: #4f5b66;
}
#logo{
    float: left;
    width: 441px;
    height: 110px;
}
#logo img{
    margin:30px;
}
#nav {
    float:right;
    width: 518px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #141516;
}

li {
    float: left;
}

li a {
    font-size: 12px;
    display: block;
    color: white;
    text-align: center;
    padding: 11px 11px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #333;
}
#bottomcontent{
    display: table;
    margin-top:10px;
}
#motd{
    margin: 20px;
    
    width: 620px;
    float:left;
}
#motd h2{
    color:#a3a3a3;
    font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
    font-size: 31px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	line-height: 37px;
}
#iconholder{
    margin: 40px 20px 10px 10px;
    float:right;
}
#iconholder img{
    margin: 1px;
}
#content{
    display:table;
    background-color:white;
    height: auto;
    width:auto;
}
#innercontent{
    display:table;
    width: auto;
    height:auto;
}
#posts{
    float:left;
    width:713px;
    
}
#sidebar{
    float:right;
    background: linear-gradient(to bottom, 
        rgba(231,231,231,1) 0%,
        rgba(231,231,231,1) 23%,
        rgba(255,255,255,1) 74%,
        rgba(255,255,255,1) 100%);
    width:247px;
    height: 620px;
}
#innersidebar{
    margin:10px 10px 10px 2px;
}
.post {
    display:table;
    width: 620px;


    border-bottom:1px solid rgba(0, 0, 0, .1);;
    padding-bottom: 32px;
    margin:30px 30px 30px 30px;
}
.imgWrapper img{
    border: 5px solid #e9e9e9;
    height: 141px;
    float:left;
}
.textWrapper h3 {
    font-weight: 100;
    font-size: 25px;
}
.textWrapper .text {
    font-weight: 100;
    font-size: 13px;
    line-height: 15px;
    font-family: Georgia;
}
.textWrapper .date {
        color: #2c83b0;
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.textWrapper {
    width: 440px;
    float:right;
}
.button {
    margin-top:20px;
  background: #80cbfc;
  background-image: -webkit-linear-gradient(top, #80cbfc, #23628a);
  background-image: -moz-linear-gradient(top, #80cbfc, #23628a);
  background-image: -ms-linear-gradient(top, #80cbfc, #23628a);
  background-image: -o-linear-gradient(top, #80cbfc, #23628a);
  background-image: linear-gradient(to bottom, #80cbfc, #23628a);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  border: 1px solid transparent;
  font-family: Arial;
  color: #ffffff;
  font-size: 11px;
  padding: 9px 40px 9px 40px;
  text-decoration: none;
}

.button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #66a2c9, #1c4e6e);
  background-image: -moz-linear-gradient(top, #66a2c9, #1c4e6e);
  background-image: -ms-linear-gradient(top, #66a2c9, #1c4e6e);
  background-image: -o-linear-gradient(top, #66a2c9, #1c4e6e);
  background-image: linear-gradient(to bottom, #66a2c9, #1c4e6e);
  text-decoration: none;
}
h4 {
    font-size: 25px;
    padding: 18px 20px 22px 20px;
    margin: 0;
    font-weight: 100;
}
#innersidebar p {
    font-size:13px;
    padding-left: 20px;
    line-height: 20px;
    font-family: Georgia;
}
#innersidebar a {
    font-family: Georgia;
    font-size:13px;
    color:#2c83b0;
    text-decoration: none;
    padding-left: 20px;
}
#pagenav{
    margin-top:9px;
    margin-left: 30px;
}
ul.pagination {
    background-color:white;
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;
margin: 0px 2px 0px 2px;
background-color:#EEEEEE;}
ul.pagination li a:hover{
    background-color:#C1C1C1;
    color:white;
}
ul.pagination li a {
    color: #A5A5A5;
    float: left;
    padding: 4px 8px;
    text-decoration: none;
}

#sponsors {
    overflow: hidden;
    margin: 36px 30px 60px 30px;

}
.corpfix {
    height: 75px;
    width: 128px;
    overflow: hidden;
    float:left;
    margin: 6px;
    border:4px solid #FCFCFC;
}
#sponsors img{
    
    margin: -1px 0px 0px 0px;
}
#sponsors h2{
    font-weight: 100;
    margin-bottom: 20px;
}
#footer{
    overflow: hidden;
}
.footercontent p {
    font-family: Georgia;
    font-size:13px;
    line-height: 21px;
}
.footercontent h5{
    font-weight: 100;
    font-size:25px;
    margin-bottom:10px;
}
.footercontent{
    color:white;
    float:left;
    width: 280px;
    margin: 20px;
}
#smalliconholder {
    margin-top: 28px;
}
#smalliconholder img{
    width: 50px;
}