/**
 *   Here's where everything gets included. You don't need
 *   to change anything here, and doing so might break
 *   stuff. Here be dragons and all that.
 */
/**
 *   Default variables
 *
 *   While these can be set with JavaScript, it's probably
 *   better and faster to just set them here, compile to
 *   CSS and include that instead to use some of that
 *   hardware-accelerated goodness.
 */
.unslider-nav ol {
  list-style: none;
  text-align: center;
    float:left;
    padding: 10px 10px 10px 20px;
    
}
.unslider-nav ol li {
  display: inline-block;
    float:none;
  width: 9px;
  height: 9px;
  margin: 0px 6px;
    
  background: transparent;
  border-radius: 5px;
  overflow: hidden;
  text-indent: -999em;
  //border: 2px solid #fff;
    background: #3683AE; 
  cursor: pointer;
}
.unslider-nav ol li.unslider-active {
  background: #A3A3A3;
  cursor: default;
}
.unslider-nav ol li:hover{
    background: #A3A3A3;
}

.unslider-nav {
    z-index: 10;
    display:table;
    width: 100%;
    bottom: 74px;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
}

